<section class="recipe">
    <h3>{{recipe.title}}</h3>
    <img src="{{recipe.filename}}">
    <p>{{recipe.description}}</p>
    <ul>{{recipe.ingredients}}</ul>
    <p>{{instructions}}</p>
</section>
