<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href={{style}}>
<main>
    {{#if loggedIn}}
    <h1 class="title">Here are your recipes!</h1>
    <section class="wrapper" id="options">
        {{#each data}}
        <div class="info_box">
            <h3><a href="\instructions/{{id}}">{{title}}</a></h3>
            <img src="{{image}}">
            <p>You are missing {{missedIngredientCount}} ingredients for this recipe</p>
        </div>
        {{/each}}
    </section>
    {{else}}
    <a href="/login" class="title">You must login first to view this page</a>
    {{/if}}
</main>
<script src={{script}}></script>